.header {
    background-color: blueviolet;
}

.main {
    background-color: brown;
}

.footer {
    background-color: pink;
}
/* Mobile First -- 0px --> 566px */
header {
    background-color: aqua;
}
/** 567 --> 767px */
@media ( min-width: 567px ) {
    .header {
        background-color: yellow;
    }
}
/** 768 --> 1023px */
@media (min-width: 768px ) {
    .header {
        background-color: blue;
    }
}
/** 1024px --> 1999px */ 
@media ( min-width: 1024px ) {
    .header {
        background-color: chocolate;
    }
}
/* 1200 --> 1399 */
@media ( min-width: 1200px ) {
   
}
/** 1400 --> 1599 */
@media ( min-width: 1400px ) {
    
}
/** 1600 --> 1919 */
@media ( min-width: 1600px ) {
    
}
/** 1920 --> 2159 */
@media ( min-width: 1920px ) {
    
}
/** 2160 --> 2459 */
@media ( min-width: 2160px ) {
    
}
/** 2160 --> more */
@media ( min-width: 2160px ) {
    
}